body {
  text-align: center;
  background-color: rgb(30,150,200);
}

h1.title {
  font-family: monospace;
  color:white;
  font-size: 50px;
}

@media (max-width: 500px) {
  h1.title {
    font-size: 30px;
  }
}

.btns {
  font-family: monospace;
  background-color: #6e2c2b;
  color: white;
  border-radius: 10px;
  box-shadow: 2px 3px 0px 0px black;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  display: inline-block;
  padding: 5px 5px 5px 5px;
}

.back-button, .make-room, .join-room {
  display: none;
}

.btns:hover {
  transform: translate(2px, 3px);
  box-shadow: none;
}

.how-to-info {
  font-family: arial;
  font-size: 15px;
  border: 2px solid #6e2c2b;
  color: white;
  border-radius: 10px;
  background-color: rgb(150,100,100);
  display: none;
}

.room {
  font-family: monospace;
  background-color: #6e2c2b;
  color: white;
  border-radius: 10px;
  box-shadow: 2px 3px 0px 0px black;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  display: none;
  padding: 5px 5px 5px 5px;
}